---
# Your BOT token here. If you don't have a token, get one at https://discordapp.com/developers/applications/me
token: 'Put your token here!'

# The commands needs to start with a prefix
prefix: 'e!'

# This will change the game at startup, set it to 'none' to enable the default game (Shows Help word, Guild, TextChannels, VoiceChannels and Users count)
game: 'Type e!help'

# This is used for sending stats to DiscordBots.pw.
discordBotsToken: ''

# This is used for sending stats to DiscordBotList.org.
discordBotList: ''

# This is for accessing Discord Bans API.
discordBansToken: ''

# Used for accessing Giphy API
giphyKey: ''

# Used for accessing Yandex Translator API
yandexTranslateKey: ''

# Done (Success) emote.
doneEmote: ':white_check_mark:'

# Warning emote.
warnEmote: ':warning:'

# Error emote.
errorEmote: ':x:'

# Database Url. In order: jdbc:mysql://IP:PORT/DATABASE
dbUrl: 'jdbc:mysql://localhost:3306/endless'

# Database Username.
dbUsername: 'root'

# Database Password.
dbPassword: ''

# Owner Access: The following list of users will have FULL ACCESS to the bot, (and by extension), machine control.
# This only should give to trustly users. Choose with care!! (Replace this with your IDs).
ownerId: 264499432538505217 
coOwnerIds:
  - 302534881370439681
  
# A Guild ID where the bot is based off (Replace this with your Guild ID).
rootGuildId: 312776731704426496

# A TextChannel ID where the bot sends logs (Replace this with your TextChannel ID).
botlogChannelId: 341041806508818432

# Port for the API
apiPort: 80

# Authorization Token for the API
apiToken: ''
  
# OnlineStatus of the bot. Valid OnlineStatus: ONLINE, IDLE, DO_NOT_DISTURB, INVISIBLE and OFFLINE.
status: ONLINE

# Turns the status of the BotLog channel.
botlog: false

# Enables DEBUG mode, this prints to the CONSOLE when a command has an exception, when a web request is made, etc.
debug: false

# Enables DEEP DEBUG mode, this changes the log level of JDA. Used for debugging JDA internal errors.
deepDebug: false
