//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//            Configuration of Endless                  //
//////////////////////////////////////////////////////////
// Thanks for downloading your own instance of Endless! //
// Here are some configuration parameters needed for    //
// running the bot correctly.                           //
//////////////////////////////////////////////////////////

// Put here your token, you can get one at https://discordapp.com/developers/

token=

// Here goes the prefix

prefix=e!

// Now setup the owner info.

ownerid=

// Now, if needed, setup CoOwner's info

coownerid=

// Others

dbanstoken=
dbotstoken=
dbotslisttoken=

// Custom emotes, in order: Done emote, warning emote and error emote, if they are empty it defaults to the Discord's one.
// You can use custom emotes.

done_e=
warn_e=
fail_e=