<!--
  ~ Copyright (C) 2017-2018 Artuto
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss}] [%boldCyan(%thread)] [%boldGreen(%logger{0})] [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>logs/latest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}_%d{HH:mm:ss,aux}.log</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="me.artuto.endless.logging.appenders.FileAppender"/>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss}] [%thread] [%logger{0}] [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File-Debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug/latest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug/%d{yyyy-MM-dd}_%d{HH:mm:ss,aux}.log</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="me.artuto.endless.logging.appenders.FileAppender"/>
            <maxHistory>20</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss}] [%thread] [%logger{0}] [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="net.dv8tion.jda.core.handle.GuildSetupController" level="TRACE"/>
    <logger name="net.dv8tion.jda.core.handle.EventCache" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
        <appender-ref ref="File-Debug"/>
        <appender-ref ref="Sentry"/>
    </root>
</configuration>